{% extends 'base.html.twig' %}

{% block title %}Available sessions{% endblock %}

{% block breadcrumbs %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Available sessions</li>
    </ol>
{% endblock %}

{% block sidebar %}
    {% include "student/_sidebar.html.twig" %}
{% endblock %}

{% block body %}
    <h1>Available sessions</h1>
    <hr>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Sessions
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Session</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Session</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for session in sessions %}
                            <tr>
                                <td>{{ session }}</td>
                                <td>{{ session.price }}</td>
                                <td>
                                    {% if session in student.buyedSessions %}
                                        Already buyed!
                                    {% else %}
                                        <form method="post" name="session" onclick="return confirm('Are you sure?');">
                                            <input type="hidden" name="session[id]" value="{{ session.id }}">
                                            <input type="hidden" name="token" value="{{ csrf_token('session-buy') }}">
                                            <button class="btn btn-success">Buy</button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
