{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block breadcrumbs %}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Overview</li>
    </ol>
{% endblock %}

{% block sidebar %}
    {% include "teacher/_sidebar.html.twig" %}
{% endblock %}

{% block body %}
{{ form(form) }}
{% endblock %}